<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <!-- Déclaration de MainActivity comme activité principale avec android:exported défini -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Déclaration de l'activité AdminActivity -->
        <activity android:name=".AdminActivity" />

        <!-- Déclaration de StoreKeeperActivity -->
        <activity android:name=".StoreKeeperActivity" />

        <!-- Déclaration de AssemblerActivity -->
        <activity android:name=".AssemblerActivity" />

        <!-- Déclaration de RequesterActivity -->
        <activity android:name=".RequesterActivity" />

        <activity android:name=".RequesterCommandeActivity" />
    </application>

</manifest>
